In [1]:
import numpy as np
import pandas as pd

### 1) Given matrix of positive floating point numbers dataset and perform two operations as below

In [2]:
a=[[1, 2, 'o'],
['o', 1, 1],
[5, 6, 5]]
df= pd.DataFrame(a, columns = ['a','b','c']) # Initialise pandas dataframe with the data provided

#### 1.1 Replace each o with the mean of the non-zero values in its column

In [3]:
df.replace({'o':np.nan}, inplace = True) # First step is to convert 'o' to nan's
df.fillna(df.mean(), inplace=True) # Fill nan's with mean of that respective column
df

     a  b    c
0  1.0  2  3.0
1  3.0  1  1.0
2  5.0  6  5.0

#### 1.2 Normalize the matrix with mean 0 and variance 1

In [4]:
pd.set_option('display.float_format', '{:.10f}'.format) # To display more decimal points
normalized_df=(df-df.mean())/np.std(df) # std_normalisation = (x-mean)/std_dev
normalized_df

              a             b             c
0 -1.2247448714 -0.4629100499  0.0000000000
1  0.0000000000 -0.9258200998 -1.2247448714
2  1.2247448714  1.3887301497  1.2247448714

.

### 2) Function that takes in the jsonData and corrects the problem explained with rules defined.

In [5]:
import string
def correct_data(json_data):
    json_data = eval(json_data) # Used to convert String data to respective data types
    result = []
    for data in json_data:
        #Below line ignores punctuations and case sensitives.
        desc_words = data['description'].translate(str.maketrans('', '', string.punctuation)).lower().split()
        result_data = None
        for i in range(len(desc_words)):
            # Logic defined as per rule explained in problem.
            if (desc_words[i] == 'studio' or desc_words[i] == '1-bedroom') and (desc_words[i-1] == 'yoga' or desc_words[i-1] == 'dance' or desc_words[i-1] == 'art'):
                pass
            elif desc_words[i] == 'studio':
                result_data = 0
                break
            elif desc_words[i] == '1-bedroom':
                result_data = 1
                break
        if result_data is None: 
            result_data = int(data['num_bedrooms'])
        result.append(result_data)
    return result

#### Added '\ in the parameter for clear display of data passed

In [6]:
correct_data('['\
'{'\
'"id": "1",'\
'"agent": "Radulf Katlego",'\
'"unit": "#3",'\
'"description": "This luxurious studio apartment is in the heart of downtown.",'\
'"num_bedrooms": 1'\
'},'\
'{'\
'"id": "2",'\
'"agent": "Kelemen Konrad",'\
'"unit": "#36",'\
'"description": "We have a 1-bedroom available on the third floor.",'\
'"num_bedrooms": 1'\
'},'\
'{'\
'"id": "3",'\
'"agent": "Ton Jett",'\
'"unit": "#12",'\
'"description": "Beautiful 1-bedroom apartment with nearby yoga studio.",'\
'"num_bedrooms": 1'\
'},'\
'{'\
'"id": "4",'\
'"agent": "Fishel Salman",'\
'"unit": "#13",'\
'"description": "Beautiful studio with a nearby art studio.",'\
'"num_bedrooms": 1'\
'}'\
']')

[0, 1, 1, 0]